---
import AddressIcon from "./icons/AddressIcon.astro";
import ClockIcon from "./icons/ClockIcon.astro";
import PhoneIcon from "./icons/PhoneIcon.astro";
import MailIcon from "./icons/MailIcon.astro";

interface Props {
  city: string;
  address: string;
  phone: string;
  mapSrc: string;
  schedule: string;
  email: string;
}

const { city, address, phone, mapSrc, schedule, email } = Astro.props;
---

<div class="location-card">
  <div class="map-container">
    <iframe
      src={mapSrc}
      title="Mapa de ubicación del consultorio"
      width="100%"
      height="100%"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <h3>{city}</h3>

  <div class="info-container">
    <div class="info-item">
      <span class="bullet-icon"><AddressIcon /></span>
      <p>{address}</p>
    </div>

    <div class="info-item">
      <span class="bullet-icon"><PhoneIcon /></span>
      <p><a href={`tel:${phone.replace(/\s/g, "")}`}>{phone}</a></p>
    </div>

    <div class="info-item">
      <span class="bullet-icon"><ClockIcon /></span>
      <p>{schedule}</p>
    </div>

    <div class="info-item">
      <span class="bullet-icon"><MailIcon /></span>
      <p>{email}</p>
    </div>
  </div>
  <a
    class="btn-location"
    href={`https://wa.me/52${phone.replace(/\s/g, "")}?text=Hola,%20quisiera%20agendar%20cita%20en%20${city}`}
    target="_blank"
    rel="noopener noreferrer">Agendar Cita Aquí</a
  >
</div>

<style>
  .location-card {
    background: white;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    justify-items: center;
    border: 1px solid rgba(0, 0, 0, 0.03);
    padding: 2em 1.5em;
  }

  .location-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  }

  .map-container {
    height: 250px;
    width: 100%;
    filter: grayscale(20%);
    transition: filter 0.3s;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  .location-card:hover .map-container {
    filter: grayscale(0%);
  }

  .info-container {
    width: 100%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 1.2rem;
  }

  h3 {
    text-align: center;
    color: var(--primary-color);
    /* font-size: 2rem; */
    font-size: clamp(1.5rem, 6vw, 2rem);
    font-weight: 700;
  }

  .info-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-dark);
    font-size: 1rem;
    line-height: 1.5;
  }

  .bullet-icon {
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    background: #ebf8ff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bullet-icon :global(svg) {
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--primary-color);
  }

  a:not(.btn-location) {
    text-decoration: none;
    color: inherit;
  }

  a:not(.btn-location):hover {
    text-decoration: underline;
    color: var(--accent-color);
  }

  .btn-location {
    display: inline-block;
    width: clamp(200px, 90%, 300px);
    font-size: clamp(1.25rem, 2.5vw, 1.375rem);
    padding: clamp(0.75rem, 2vw, 1rem) clamp(1.5rem, 4vw, 2rem);
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
    text-align: center;
    text-wrap: nowrap;
  }

  .btn-location:hover {
    transform: scale(1.05);
  }

  .btn-location:active {
    transform: scale(0.97);
  }

  /* Mobile Styles */
  @media (max-width: 600px) {
    .info-container {
      grid-template-columns: 1fr;
    }
  }
</style>
